/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/





@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: 100;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-thin.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-thin.woff2') format('woff2');		
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: 300;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-Light.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-Light.woff2') format('woff2');	
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-Regular.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: 600;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: bold;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-Bold.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-ExtraBold.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: 900;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-Black.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakhFaNum;
	font-style: normal;
	font-weight: 950;
	src: url('font/yekanbakhfa/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff'),   
	url('font/yekanbakhfa/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');		 
}



@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 100;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-thin.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-thin.woff2') format('woff2');		
}



@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 200;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-UltraLight.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-light.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-light.woff2') format('woff2');		 
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-light.woff')
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-medium.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 600;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-demibold.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-demibold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-extrabold.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-extrabold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-black.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-black.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-bold.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANSansX-new/woff/IRANSansXFaNum-regular.woff') format('woff'),   
	url('font/IRANSansX-new/woff2/IRANSansXFaNum-regular.woff2') format('woff2');	
}



@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANYekanXFaNum/woff/IRANYekanXFaNum-Bold.woff') format('woff'),   
	url('font/IRANYekanXFaNum/woff2/IRANYekanXFaNum-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANYekanXFaNum/woff/IRANYekanXFaNum-Regular.woff') format('woff'),   
	url('font/IRANYekanXFaNum/woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');	
}







@font-face {
  font-family: peyda;
  src: url(font/peyda/PeydaWeb-SemiBold.woff);
}




@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 800;
	src: url('font/pinar/Pinar-DS1-FD-ExtraBold.woff2');
}
@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 700;
	src: url('font/pinar/Pinar-DS2-FD-Bold.woff2');
}

@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 900;
	src: url('font/pinar/Pinar-DS1-FD-Black.woff2');
}


@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 600;
	src: url('font/pinar/Pinar-DS1-FD-SemiBold.woff2');
}

@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 500;
	src: url('font/pinar/Pinar-DS2-FD-Medium.woff2');
}

@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 400;
	src: url('font/pinar/Pinar-DS2-FD-Regular.woff2');
}

@font-face {
	font-family: Pinar-VF;
	font-style: normal;
	font-weight: 300;
	src: url('font/pinar/Pinar-DS2-FD-Light.woff2');
}








@font-face {
font-family: 'farhang';
  
  src:  url('font/farhang/Farhang2-Regular.woff') format('woff');
        
}

@font-face {
  font-family: 'farhang';
  font-weight: 800;
  src:  url('font/farhang/Farhang2-Bold.woff') format('woff');
        
}





@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 10;
	src: url('font/dana/eot/dana-thin.eot');
	src: url('font/dana/eot/dana-thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 200;
	src: url('font/dana/eot/dana-extralight.eot');
	src: url('font/dana/eot/dana-extralight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-extralight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-extralight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 300;
	src: url('font/dana/eot/dana-light.eot');
	src: url('font/dana/eot/dana-light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 500;
	src: url('font/dana/eot/dana-medium.eot');
	src: url('font/dana/eot/dana-medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 600;
	src: url('font/dana/eot/dana-demibold.eot');
	src: url('font/dana/eot/dana-demibold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-demibold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-demibold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 750;
	src: url('font/dana/eot/dana-ultrabold.eot');
	src: url('font/dana/eot/dana-ultrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-ultrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-ultrabold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 800;
	src: url('font/dana/eot/dana-extrabold.eot');
	src: url('font/dana/eot/dana-extrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-extrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-extrabold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 900;
	src: url('font/dana/eot/dana-black.eot');
	src: url('font/dana/eot/dana-black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: bold;
	src: url('font/dana/eot/dana-bold.eot');
	src: url('font/dana/eot/dana-bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	src: url('font/dana/eot/dana-regular.eot');
	src: url('font/dana/eot/dana-regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/dana/woff2/dana-regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/dana/woff/dana-regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSansDN/eot/iransansdnbold.eot');
	src: url('font/IRANSansDN/eot/iransansdnbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansDN/woff2/iransansdnbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansDN/woff/iransansdnbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansDN/ttf/iransansdnbold.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANSansDN/eot/iransansdnlight.eot');
	src: url('font/IRANSansDN/eot/iransansdnlight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansDN/woff2/iransansdnlight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansDN/woff/iransansdnlight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansDN/ttf/iransansdnlight.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANSansDN/eot/iransansdn.eot');
	src: url('font/IRANSansDN/eot/iransansdn.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansDN/woff2/iransansdn.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansDN/woff/iransansdn.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansDN/ttf/iransansdn.ttf') format('truetype');
}



/**
Iranic fonts	
**/

@font-face {
	  font-family: aviny;


	src: url('font/IRANSharp/iransharp_regular_web.woff');
	
}

@font-face {
  font-family: aviny;
  src: url(font/aviny/aviny.woff);
}


@font-face {
  font-family: KalamehWeb;
  src: url(font/KalamehWeb/KalamehWeb_Black.woff);
}


@font-face {
	font-family: mahboubeh_mehravar;
	
	
	src: url('font/mehravar/eot/mahboubeh_mehravar.woff');
	
}

@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: normal;
	src: url('font/Anjoman/eot/Anjoman-FaNum-Regular.eot');
	src: url('font/Anjoman/eot/Anjoman-FaNum-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/Anjoman/woff2/Anjoman-FaNum-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/Anjoman/woff/Anjoman-FaNum-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: bold;
	src: url('font/Anjoman/eot/Anjoman-FaNum-Bold.eot');
	src: url('font/Anjoman/eot/Anjoman-FaNum-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/Anjoman/woff2/Anjoman-FaNum-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/Anjoman/woff/Anjoman-FaNum-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 300;
	src: url('font/Anjoman/eot/Anjoman-FaNum-Light.eot');
	src: url('font/Anjoman/eot/Anjoman-FaNum-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/Anjoman/woff2/Anjoman-FaNum-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/Anjoman/woff/Anjoman-FaNum-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


.shop_table tr :is(td,th):last-child,.woocommerce-order-details__title, .woocommerce-column__title,.payment_methods
{
    text-align: right;

}

.product-label.out-of-stock
{
    background-color: #00bcd4;
    color: white;
}
.out-of-stock
{
    padding: 5px 0px !important;
}
.product-label
{
    letter-spacing:0px;
}
.owl-items-lg-4 .post-slide .post-title
{
    font-size:16px !important;
}
.wd-tools-text .woocommerce-Price-currencySymbol
{
       float: left;
    padding-right: 6px;
}
p.form-row-wide
{
    margin:5px 0px;
}
.mootanroslider .inner
{	border-radius: 12px;    background-color: white;
    padding-top: 33px;
	    padding-bottom: 12px;
}
.mootanroslider .labels-rectangular
{
	top: 15px;
    right: auto;
    left: 8px;
}
.mootanroslider .product-rating-price
{
	       padding-bottom: 26px;
    padding-top: 0;
	   
}

.digikala img

{
	       border-radius:12px;
	   
}




.mootanroslider .wd-entities-title
{
	padding-top: 21px;
    padding-bottom: 23px;
}
.mootanroslider .product-information ul
{
	list-style-type:none;
}
.mootanroslider .product-information ul li
{
	float:left;
}
.mootanroslider .inner:hover
{
	box-shadow: rgb(0 0 0 / 46%) 0px 5px 7px;
    transition: box-shadow 0.5s ease 0s;
}
.mootanroslider .product-grid-item .hover-img img
{
	    width: 100%;
    padding-top: 20px;
    padding-bottom: 30;
}
.mootanroslider .wd-add-cart-btn.wd-style-icon>a:before
{
	    content: "\f123";
    font-family: woodmart-font;
}

.mootanroslider  .product-information
{
    background-color: white;
        padding: 0px 10px 32px 30px;
    border-top: 1px solid #f3f3f3;
    border-radius: 0px 0px 12px 12px;	
	
}

.mootanroslider .product-information ul li
{
	float:left;
	
}
.digikala  .wd-pos-r-t .woodmart-buttons
{
	    background: rgba(255,255,255,0.65);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    transition: all .3s ease;
    border-radius: 15px;
	left:22px;
}
.digikala .wd-timer>span
{
	font-size:15px;
}
.woodmart-highlighted-products:not(.with-title) .owl-nav>div[class*=prev]
{
	    right: 5px !important;
    width: 40px;
    height: 70px;
}

.woocommerce-error li:last-child
{
	color:red;
}


.digikala  .wd-product-countdown, .product-grid-item .wd-stock-progress-bar
{
	margin-top: 10px;
    
    border-top: 1px solid rgba(129,129,129,.2);
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 5px;
}
.wd-timer>span
{

	box-shadow: 0 0 0px rgb(0 0 0 / 10%);
}
.wd-dropdown-search-cat, .whb-col-right .wd-search-dropdown
{
    right:0px;
    left:auto;
}

.single-breadcrumbs-wrapper .woocommerce-breadcrumb, .single-breadcrumbs-wrapper .yoast-breadcrumb
{
 background-color: white;
    padding: 5px 10px;
    border-radius: 5px;   
    box-shadow:2px 4px 18px 0px rgb(209 208 208 / 50%)
}
.single-product-page .product-image-summary-wrap
{
    background-color: white;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 2px 4px 18px 0px rgb(187 178 178 / 50%);
}




/*  config */
.woodmart-sidebar-content .widget
{
	padding: 20px;
    box-shadow: 0 0px 1px 1px #e6e6e6;
		background-color:white;
	border-radius:3px;
}
.woodmart-sidebar-content .widget-title
{
	    background: rgba(125, 125, 125, 0.15);
    padding: 10px 20px;
	    font-weight: 600;

}
.woodmart-pf-dropdown .swatches-normal.swatches-brands .filter-swatch>span, .woodmart-woocommerce-layered-nav .swatches-normal.swatches-brands .filter-swatch>span
{
	width:25px;
	height:25px;
	border-radius:50%;
	
}
.shop-loop-head
{
box-shadow: 0 0px 1px 1px #e6e6e6;
display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 0px 1px 1px #e6e6e6;
    background-color: white;
border-radius:3px;
}
.content-with-products .products-bordered-grid
{
	 box-shadow: 0 0px 1px 1px #e6e6e6;
	    background-color: white;
	border-radius:3px;
}
.woodmart-active-filters
{
	    background-color: white;
 
	padding-right:3px;
}
.filters-opened
{
    padding: 20px;
    box-shadow: 0 0px 1px 1px #e6e6e6;
    background-color: white;
    border-radius: 3px;	
}

.woodmart-sidebar-content .widget-title
{
	
}
.product_title entry-title
{
font-size:20px !important;
	
	
}
.descshort li
{
	    margin-top: 9px;
}

.product_title
{
	font-size:20px;


}

.prefooter .elementor-container 
{
	max-width:none !important;
}




.woocommerce-Reviews
{
        display: flow-root !important;
}


	.listproduct li 
{
	    list-style: square;
    margin-top: 9px;
    margin-right: 20px;
}
.product-image-summary .shop_attributes tr td:last-child
{
	text-align:right;
}



.wd-buttons[class*="wd-pos-r"] .wd-tooltip-label:before
{border-right-color: transparent;
	
}
.area-sidebar-shop .widget
{
	    padding: 20px;
    box-shadow: 0 0px 1px 1px #e6e6e6;
    background-color: white;
}
.area-sidebar-shop .widget-title
{
	    background: rgba(125, 125, 125, 0.15);
    padding: 10px 20px;
}
.categories-menu-dropdown .wd-nav>li>a
{
	font-weight:400;
}
#customer_details
{
	background-color:white;
}
.wd-stock-progress-bar .progress-area, .wd-stock-progress-bar .progress-bar
{
	height:4px;
}
.wd-timer>span
{
min-width: 1.7em !important;
    min-height: 1.7em !important;
	    border-radius: 10px !important;
}
.wd-stock-progress-bar .stock-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #777;
    font-size: 12px;
}	
.wd-timer
{
    direction:ltr;
}
.product-image-summary .wd-product-countdown
{
    text-align:right;
}

.products-bordered-grid.elements-grid:not(.elements-list) [class*="-grid-item"]
{
    box-shadow: 0 0px 1px 1px #e6e6e6;
    background-color: white;
    border-radius: 3px;
}


@media screen and (max-width: 768px) {
#shop-carousel .carousel-image
{
	grid-row: 1/3;
    grid-column: 9/1;
}
#shop-carousel .carousel-title-container *
{
font-size:11px;
}
#shop-carousel .carousel-special-offer-badge
{
	width: 70%;
  left: 10%;
	padding-top:0px;
}
#shop-carousel .carousel-title-container
{
	grid-row: 3/4;
    grid-column: 1/10;
}
.wd-timer span
{
	font-size:13px;
}
h3.carousel-title
{
	height:40px;
}


.woocommerce-customer-details
{
text-align:right;
	
}
.wd-quantity-overlap
{
	    --quantity-space: 0px;
}
p.stock.wd-style-default.in-stock:before{
	
	margin-inline-start: 5px;
	margin-inline-end: 0px;
}
.mfp-content .mc4wp-alert, .woocommerce-cart .woocommerce-notices-wrapper [role="alert"], .woocommerce-checkout .woocommerce [role="alert"], :is(.woocommerce-form-coupon-toggle,.woocommerce-form-login-toggle)>.woocommerce-info, .search-no-results.woocommerce .woocommerce-info, .woocommerce-MyAccount-content .woocommerce-Message,.woocommerce-billing-fields>h3,.woocommerce-additional-fields>h3
{
	text-align:right;
}
.text-left :is(.checkout_coupon,.login.hidden-form)
{
	margin-left: auto;
    margin-right: 0px;
}
.wd-single-footer ~ .wd-page-nav
{
	direction:ltr;
}




p.stock.wd-style-default.in-stock:before
{
	
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    float: right;
}
.wd-more-desc .wd-more-desc-inner ul
{
	list-style :none;
}
#timer-product .elementor-widget-container{
   display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}}

#timer-product .title.element-title{
	display: inline !important;
    display: inline;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
}
.wd-nav-wrapper.wd-nav-tabs-wrapper.text-center{
	border: 1px solid #E8E2E2;
	border-radius:10px;
	padding:8px
}
.whb-header .whb-header-bottom .wd-header-cats{
	height:100% !important;
}

}
.blog-design-list .wd-post-excerpt
{
display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3em;
}
